In [143]:
import numpy as np, pandas as pd
from matplotlib.pyplot import subplots
from sklearn.linear_model import \
     (LinearRegression,
      LogisticRegression,
      Lasso)
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.pipeline import Pipeline
from ISLP import load_data
from ISLP.models import ModelSpec as MS
from sklearn.model_selection import \
     (train_test_split,
      GridSearchCV)

In [144]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from ISLP import load_data
from ISLP.models import (ModelSpec as MS,
                         summarize)

In [145]:
from ISLP import confusion_table
from ISLP.models import contrast
from sklearn.discriminant_analysis import \
     (LinearDiscriminantAnalysis as LDA,
      QuadraticDiscriminantAnalysis as QDA)
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [146]:
import torch
from torch import nn
from torch.optim import RMSprop
from torch.utils.data import TensorDataset

In [147]:
from torchmetrics import (MeanAbsoluteError,
                          R2Score)
from torchinfo import summary

In [148]:
from pytorch_lightning import Trainer
from pytorch_lightning.loggers import CSVLogger

In [149]:
from pytorch_lightning import seed_everything
seed_everything(0, workers=True)
torch.use_deterministic_algorithms(True, warn_only=True)

Seed set to 0

In [150]:
from torchvision.io import read_image
# from torchvision.datasets import MNIST, CIFAR100
from torchvision.models import (resnet50,
                                ResNet50_Weights)
from torchvision.transforms import (Resize,
                                    Normalize,
                                    CenterCrop,
                                    ToTensor)

In [151]:
from ISLP.torch import (SimpleDataModule,
                        SimpleModule,
                        ErrorTracker,
                        rec_num_workers)

In [152]:
from ISLP.torch.imdb import (load_lookup,
                             load_tensor,
                             load_sparse,
                             load_sequential)

In [153]:
from glob import glob
import json

In [154]:
import os
os.environ['CUBLAS_WORKSPACE_CONFIG']=':16:8'

In [155]:
Default = load_data('Default').dropna()
n = Default.shape[0]

In [156]:
Default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [157]:
Default.columns

Index(['default', 'student', 'balance', 'income'], dtype='object')

In [158]:

Default = pd.get_dummies(Default, columns=['student','default'], drop_first = True)
Default

          balance        income  student_Yes  default_Yes
0      729.526495  44361.625074            0            0
1      817.180407  12106.134700            1            0
2     1073.549164  31767.138947            0            0
3      529.250605  35704.493935            0            0
4      785.655883  38463.495879            0            0
...           ...           ...          ...          ...
9995   711.555020  52992.378914            0            0
9996   757.962918  19660.721768            0            0
9997   845.411989  58636.156984            0            0
9998  1569.009053  36669.112365            0            0
9999   200.922183  16862.952321            1            0

[10000 rows x 4 columns]

In [162]:
model = MS(Default.columns.drop('default_Yes'), intercept=False)
X = model.fit_transform(Default).to_numpy()

# X = model.fit_transform(Default)
# Y = Default['default'].to_numpy()

Y = Default['default_Yes'] == 1

In [163]:
(X_train, 
 X_test,
 Y_train,
 Y_test) = train_test_split(X,
                            Y,
                            test_size=1/3,
                            random_state=1)

In [ ]:
# X_test?

In [ ]:
# glm_train = sm.GLM(Y_train,
#                    X_train,
#                    family=sm.families.Binomial())
# results = glm_train.fit()
# probs = results.predict(exog=X_test)

In [165]:
hit_lm = LogisticRegression().fit(X_train, Y_train)
Yhat_test = hit_lm.predict(X_test)
np.abs(Yhat_test - Y_test).mean()

TypeError: numpy boolean subtract, the `-` operator, is not supported, use the bitwise_xor, the `^` operator, or the logical_xor function instead.

> 方法1:只是算MSE的话，完全可以使用ISLP的包来写代码

> 方法2：想用sklean的包，那就直接看答案好了

In [ ]:
# pd.get_dummies(Default['default'])

In [ ]:
Default

     default student      balance        income
0         No      No   729.526495  44361.625074
1         No     Yes   817.180407  12106.134700
2         No      No  1073.549164  31767.138947
3         No      No   529.250605  35704.493935
4         No      No   785.655883  38463.495879
...      ...     ...          ...           ...
9995      No      No   711.555020  52992.378914
9996      No      No   757.962918  19660.721768
9997      No      No   845.411989  58636.156984
9998      No      No  1569.009053  36669.112365
9999      No     Yes   200.922183  16862.952321

[10000 rows x 4 columns]

In [ ]:
Default = pd.get_dummies(Default, columns=['student'], drop_first = True)

In [ ]:
Default

     default      balance        income  student_Yes
0         No   729.526495  44361.625074            0
1         No   817.180407  12106.134700            1
2         No  1073.549164  31767.138947            0
3         No   529.250605  35704.493935            0
4         No   785.655883  38463.495879            0
...      ...          ...           ...          ...
9995      No   711.555020  52992.378914            0
9996      No   757.962918  19660.721768            0
9997      No   845.411989  58636.156984            0
9998      No  1569.009053  36669.112365            0
9999      No   200.922183  16862.952321            1

[10000 rows x 4 columns]

In [ ]:
# hit_lm = LogisticRegression().fit(X_train, Y_train)
# Yhat_test = hit_lm.predict(X_test)
# np.abs(Yhat_test - Y_test).mean()

In [ ]:
(mnist_train, 
 mnist_test) = [MNIST(root='data',
                      train=train,
                      download=True,
                      transform=ToTensor())
                for train in [True, False]]
mnist_train
mnist_dm = SimpleDataModule(mnist_train,
                            mnist_test,
                            validation=0.2,
                            num_workers=max_num_workers,
                            batch_size=256)
for idx, (X_ ,Y_) in enumerate(mnist_dm.train_dataloader()):
    print('X: ', X_.shape)
    print('Y: ', Y_.shape)
    if idx >= 1:
        break
class MNISTModel(nn.Module):
    def __init__(self):
        super(MNISTModel, self).__init__()
        self.layer1 = nn.Sequential(
            nn.Flatten(),
            nn.Linear(28*28, 256),
            nn.ReLU(),
            nn.Dropout(0.4))
        self.layer2 = nn.Sequential(
            nn.Linear(256, 128),
            nn.ReLU(),
            nn.Dropout(0.3))
        self._forward = nn.Sequential(
            self.layer1,
            self.layer2,
            nn.Linear(128, 10))
    def forward(self, x):
        return self._forward(x)

mnist_model = MNISTModel()

mnist_model(X_).size()
summary(mnist_model,
        input_data=X_,
        col_names=['input_size',
                   'output_size',
                   'num_params'])

mnist_module = SimpleModule.classification(mnist_model,
                                           num_classes=10)
mnist_logger = CSVLogger('logs', name='MNIST')

mnist_trainer = Trainer(deterministic=True,
                        max_epochs=30,
                        logger=mnist_logger,
                        callbacks=[ErrorTracker()])
mnist_trainer.fit(mnist_module,
                  datamodule=mnist_dm)

mnist_results = pd.read_csv(mnist_logger.experiment.metrics_file_path)
fig, ax = subplots(1, 1, figsize=(6, 6))
summary_plot(mnist_results,
             ax,
             col='accuracy',
             ylabel='Accuracy')
ax.set_ylim([0.5, 1])
ax.set_ylabel('Accuracy')
ax.set_xticks(np.linspace(0, 30, 7).astype(int));

mnist_trainer.test(mnist_module,
                   datamodule=mnist_dm)